@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-brand-teal: #0F7B6C;
  --color-light-teal: #E6F4F1;
  --color-app-bg: #F8FAFB;
}
